/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap');

/* PrimeIcons */
@import "primeicons/primeicons.css";

/* AOS */
@import "aos/dist/aos.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  @apply bg-neutral-light text-gray-800;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}
